{{ paginate }}
<div class="flex items-center justify-between pt-4 pb-10 mt-6">
    {{ if prev_page }}
    <a href="{{ prev_page }}" class="inline-flex items-center font-medium text-indigo-600 hover:text-indigo-700">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4">
            <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
          </svg>

        <span class="ml-2">Previous</span>
    </a>
    {{ else }}
        <span></span>
    {{ /if }}

    <span class="text-xs">{{ current_page }} of {{ total_pages }} pages (There are {{ total_items }} products)</span>

    {{ if next_page }}
        <a href="{{ next_page }}" class="inline-flex items-center font-medium text-indigo-600 hover:text-indigo-700">
            <span class="mr-2">Next</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
        </a>
    {{ else }}
        <span></span>
    {{ /if }}
</div>
{{ /paginate }}
