<div class="mb-4 grid-cell">
    <div class="overflow-hidden bg-white shadow-lg sm:rounded-lg">
        {{ if featured_image }}
            <a href="/products/{{ slug }}">
                {{ featured_image }}
                    <picture class="relative block aspect-w-3 aspect-h-2">
                        <img src="{{ url }}" alt="{{ alt }}" class="absolute object-cover">
                    </picture>
                {{ /featured_image }}
            </a>
        {{ /if}}

        <div class="px-4 py-5 lg:px-6">
            <h2 class="mb-2 text-xl font-semibold"><a href="/products/{{ slug }}">{{ title }}</a></h2>

            <p class="mb-4">{{ product_price :product="slug" show_from="true" }}</p>

            <p class="mt-auto">
                <a href="/products/{{ slug }}" class="inline-block text-base font-medium text-indigo-600 hover:text-indigo-700">View Product</a>
            </p>
        </div>
    </div>
</div>
