<div class="container max-w-4xl mx-auto">

    <h1 class="mb-10 text-5xl font-bold leading-tight tracking-tighter"> Shopify + Statamic Demo</h1>

    <div class="prose">
        <p>Hey, thanks for visiting the demo. All of the products on this site are served from the CMS and imported from Shopify.</p>
        <p>Interacting with Shopify on the front end is controlled with the Storefront API.</p>
        <p>Please have a poke around.</p>
        <p>For more info you can read the <a href="https://statamic-shopify.jackwhiting.co.uk">documentation</a>.</p>
    </div>

</div>
